{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm">
                <div class="card-body p-0">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'accounts:profile' %}" 
                           class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                           Мой профиль
                        </a>
                        <a href="#" class="list-group-item list-group-item-action disabled text-muted">
                           Моё резюме
                        </a>
                        <a href="#" class="list-group-item list-group-item-action disabled text-muted">
                           Мои отклики
                        </a>
                        <a href="{% url 'accounts:edit_profile' %}" 
                           class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'edit_profile' %}active{% endif %}">
                           ️ Настройки
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            {% block account_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}